<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="_layout">
    
    <body>

        <div layout:fragment="content">
          <div class="container">

            <div class="pagetitle">
                <h1>Configuracion de Subsidio</h1>
                <nav>
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/index/}">Subsidios</a></li>
                    <li class="breadcrumb-item active">Configuracion</li>
                  </ol>
                </nav>
            </div><!-- End Page Title -->

            <section class="section">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Lista de subsidios</h5>

                      <a class="btn btn-primary" role="button" th:href="@{/subsidionuevo/}"><i class="bi bi-plus-lg me-1"></i> Agregar Subsidio</a>

                      <br><br>
        
                      <!-- Table with hoverable rows -->
                      <table class="table table-hover datatable">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Beneficio</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Monto</th>
                            <th scope="col">Canjeos</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="subsidio: ${listaSubsidio}">
                            <th scope="row" th:text="${subsidio.id}"></th>
                            <td th:text="${subsidio.beneficio.nombre}"></td>
                            <td th:text="${subsidio.producto.nombre}+', '+${subsidio.producto.categoria.nombre}"></td>
                            <td th:text="${subsidio.monto}"></td>
                            <td th:text="${subsidio.canjeos}"></td>
                            <td th:text="${subsidio.activo}"></td>
                            <td>
                              <a th:href="@{/subsidioeditar/}+${subsidio.id}"class="btn btn-warning"><i class="bi bi-pencil me-1"></i> Editar</a>
                      
                              <a th:onclick="eliminar([[@{/subsidioeliminar/}+${subsidio.id}]], '/subsidios/')" class="btn btn-danger" onclick="eliminar"><i class="bi bi-trash me-1"></i> Eliminar</a>
                          
                              
                            </td>
                          </tr>
                          
                        </tbody>
                      </table>
                      <!-- End Table with hoverable rows -->

        
                    </div>
                </div>

            </section>
          </div>
            
        </div>

    </body>
</html>