<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="_layout">
    
    <body>

        <div layout:fragment="content">
          <div class="container">

            <div class="pagetitle">
                <h1>Consumo </h1>
                <nav>
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{index}">Subsidio</a></li>
                    <li class="breadcrumb-item active">Consumo</li>
                  </ol>
                </nav>
            </div><!-- End Page Title -->

            <section class="section">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Lista de consumo</h5>

                      <a class="btn btn-primary" role="button" th:href="@{/consumonuevo/}"><i class="bi bi-plus-lg me-1"></i> Agregar Consumo de energía</a>

                      <br><br>
        
                      <!-- Table with hoverable rows -->
                      <table class="table table-hover datatable">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">DUI</th>
                            <th scope="col">Empresa</th>
                            <th scope="col">Periodo</th>
                            <th scope="col">Consumo (KWH)</th>
                            <th scope="col">Acciones</th>
                          
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="consumo: ${listaConsumos}">
                            <th scope="row" th:text="${consumo.id}"></th>
                            <td th:text="${consumo.dui}"></td>
                            <td th:text="${consumo.empresa.nombre}"></td>
                            <td th:text="${#dates.format(consumo.periodo, 'dd/MM/yyyy')}"></td>
                           
                            <td th:text="${consumo.consumo}"></td>
                            <td>
                              <a th:href="@{/consumoeditar/}+${consumo.id}"class="btn btn-warning"><i class="bi bi-pencil me-1"></i> Editar</a>
                              <a th:onclick="eliminar([[@{/consumoeliminar/}+${consumo.id}]], '/consumo/')" class="btn btn-danger" onclick="eliminar"><i class="bi bi-trash me-1"></i> Eliminar</a>

                            </td>
                          </tr>
                          
                        </tbody>
                      </table>
                      <!-- End Table with hoverable rows -->

        
                    </div>
                </div>

            </section>
          </div>
            
        </div>

    </body>
</html>