<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>

  <div layout:fragment="content">
    <div class="container">

      <div class="pagetitle">
        <h1>Bienvenido</h1>
      </div><!-- End Page Title -->

      <section class="section">
        <div class="card">
          <div class="card-body">
            <br>
            <h1>Sistema para el Control de Subsidio al Gas</h1>


          </div>
        </div>

      </section>
    </div>

  </div>

</body>
</html>